/* variables.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
  --primary-color: white;
  --secondary-color: #660708;
  --background-color: #161a1d;
  --font-title: 'Bungee Regular', sans-serif;
  --font-family-main: 'Roboto Condensed', sans-serif;
}

