services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    volumes:
      - ./client:/app
      - /app/node_modules 
    networks:
      - frontend

  server:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://root:1234@mongo:27017/admin
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - backend
      - frontend
      

  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongo_data:/data/db
    networks:
      - backend


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: "mysql"
      PMA_USER: "root"
      PMA_PASSWORD: "1234"
    ports:
      - "1234:80"
    depends_on:
      - mongo
    networks:
      - phpmyadmin-network

networks:
  frontend:
  backend:
  phpmyadmin-network:

volumes:
  mysql_data:
  mongo_data:
