.events {
    width: 100%;
}

.events-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    position: relative;
    border: 5px solid #FFFFFF;
    width: 25%;
    height: 350px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.event-card-content {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.event-card-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.event-card-description {
    font-size: 18px;
    text-align: center;
    color: var(--primary-color);
}

.event-card-date {
    font-size: 18px;
    text-align: center;
    color: var(--primary-color);
}