.login-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    margin-top: 100px;
    box-shadow: 0px 10px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #d3b6b6;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.login-form-content h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-form-content label {
    text-align: center;
    margin: 0 auto;
}

.login-form-content input {
    border-radius: 25px;
    border: 1px solid #d3b6b6;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
}

.login-button {
    border-radius: 25px;
    border: 1px solid #d3b6b6;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
}