.update-profile-form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.update-profile-form label {
    text-align: center;
    margin: 0 auto;
}

.update-profile-form input {
    border-radius: 25px;
    border: 1px solid #d3b6b6;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
}