.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161a1d;
    padding: 1rem;
    width: 100%;
    height: 75px;
}
.header img {
    width: 50px;
    height: 50px;
}
.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.linkHeader {
    color: white;
    text-decoration: none;
}